In [24]:
import pandas as pd

In [25]:
Corporation=pd.read_excel(r"Downloads\Anna_canteen.xlsx",sheet_name="Corporation")

In [26]:
Corporation

,Muncipal_Corporation,No_Of_Gowdowns,Quantity_delivery_from_each_Gowdown,No.of_workers,No.of_canteens_under_each_gowdown,Preparation_time_for_each_canteen,Food_temperature,No.of_Items,Total_cost
0,Corporation1,Gowdown1,600kg,15.0,Canteen1,1hrs,135°F,7,50000.0
1,NaN,NaN,NaN,NaN,Canteen2,1hrs,135°F,7,NaN
2,NaN,NaN,NaN,NaN,Canteen3,1hrs,135°F,7,NaN
3,NaN,Gowdown2,750kg,25.0,Canteen1,2hrs,135°F,7,60000.0
4,NaN,NaN,NaN,NaN,Canteen2,2hrs,135°F,7,NaN
...,...,...,...,...,...,...,...,...,...
94,NaN,NaN,NaN,NaN,Canteen4,2hrs,135°F,7,NaN
95,NaN,Gowdown2,650kg,25.0,Canteen1,2hrs,135°F,7,65000.0
96,NaN,NaN,NaN,NaN,Canteen2,2hrs,135°F,7,NaN
97,NaN,NaN,NaN,NaN,Canteen3,2hrs,135°F,7,NaN
98,NaN,NaN,NaN,NaN,Canteen4,2hrs,135°F,7,NaN

In [27]:
#basic check

In [28]:
Corporation.head()

,Muncipal_Corporation,No_Of_Gowdowns,Quantity_delivery_from_each_Gowdown,No.of_workers,No.of_canteens_under_each_gowdown,Preparation_time_for_each_canteen,Food_temperature,No.of_Items,Total_cost
0,Corporation1,Gowdown1,600kg,15.0,Canteen1,1hrs,135°F,7,50000.0
1,NaN,NaN,NaN,NaN,Canteen2,1hrs,135°F,7,NaN
2,NaN,NaN,NaN,NaN,Canteen3,1hrs,135°F,7,NaN
3,NaN,Gowdown2,750kg,25.0,Canteen1,2hrs,135°F,7,60000.0
4,NaN,NaN,NaN,NaN,Canteen2,2hrs,135°F,7,NaN

In [29]:
Corporation.tail()

,Muncipal_Corporation,No_Of_Gowdowns,Quantity_delivery_from_each_Gowdown,No.of_workers,No.of_canteens_under_each_gowdown,Preparation_time_for_each_canteen,Food_temperature,No.of_Items,Total_cost
94,NaN,NaN,NaN,NaN,Canteen4,2hrs,135°F,7,NaN
95,NaN,Gowdown2,650kg,25.0,Canteen1,2hrs,135°F,7,65000.0
96,NaN,NaN,NaN,NaN,Canteen2,2hrs,135°F,7,NaN
97,NaN,NaN,NaN,NaN,Canteen3,2hrs,135°F,7,NaN
98,NaN,NaN,NaN,NaN,Canteen4,2hrs,135°F,7,NaN

In [30]:
Corporation.shape

(99, 9)

In [31]:
Corporation.columns

Index(['Muncipal_Corporation', 'No_Of_Gowdowns',
       'Quantity_delivery_from_each_Gowdown', 'No.of_workers',
       'No.of_canteens_under_each_gowdown',
       'Preparation_time_for_each_canteen', 'Food_temperature', 'No.of_Items',
       'Total_cost'],
      dtype='object')

In [32]:
Corporation.dtypes

Muncipal_Corporation                    object
No_Of_Gowdowns                          object
Quantity_delivery_from_each_Gowdown     object
No.of_workers                          float64
No.of_canteens_under_each_gowdown       object
Preparation_time_for_each_canteen       object
Food_temperature                        object
No.of_Items                              int64
Total_cost                             float64
dtype: object

In [33]:
#apply function

In [34]:
df=pd.DataFrame(Corporation)
df

,Muncipal_Corporation,No_Of_Gowdowns,Quantity_delivery_from_each_Gowdown,No.of_workers,No.of_canteens_under_each_gowdown,Preparation_time_for_each_canteen,Food_temperature,No.of_Items,Total_cost
0,Corporation1,Gowdown1,600kg,15.0,Canteen1,1hrs,135°F,7,50000.0
1,NaN,NaN,NaN,NaN,Canteen2,1hrs,135°F,7,NaN
2,NaN,NaN,NaN,NaN,Canteen3,1hrs,135°F,7,NaN
3,NaN,Gowdown2,750kg,25.0,Canteen1,2hrs,135°F,7,60000.0
4,NaN,NaN,NaN,NaN,Canteen2,2hrs,135°F,7,NaN
...,...,...,...,...,...,...,...,...,...
94,NaN,NaN,NaN,NaN,Canteen4,2hrs,135°F,7,NaN
95,NaN,Gowdown2,650kg,25.0,Canteen1,2hrs,135°F,7,65000.0
96,NaN,NaN,NaN,NaN,Canteen2,2hrs,135°F,7,NaN
97,NaN,NaN,NaN,NaN,Canteen3,2hrs,135°F,7,NaN
98,NaN,NaN,NaN,NaN,Canteen4,2hrs,135°F,7,NaN

In [35]:
#function
def my_fun(df,Muncipal_Corporation,No_Of_Gowdowns):
    newdf = df[(df['Muncipal_Corporation']==Muncipal_Corporation) & (df['No_Of_Gowdowns']==No_Of_Gowdowns)]
    final=newdf.to_dict('dict')
    return final

In [36]:
my_fun(Corporation,"Corporation1","Gowdown1")

{'Muncipal_Corporation': {0: 'Corporation1'},
 'No_Of_Gowdowns': {0: 'Gowdown1'},
 'Quantity_delivery_from_each_Gowdown': {0: '600kg'},
 'No.of_workers': {0: 15.0},
 'No.of_canteens_under_each_gowdown': {0: 'Canteen1'},
 'Preparation_time_for_each_canteen': {0: '1hrs'},
 'Food_temperature': {0: '135°F'},
 'No.of_Items': {0: 7},
 'Total_cost': {0: 50000.0}}

In [40]:
my_fun(Corporation,"Corporation2","Gowdown1")

{'Muncipal_Corporation': {10: 'Corporation2'},
 'No_Of_Gowdowns': {10: 'Gowdown1'},
 'Quantity_delivery_from_each_Gowdown': {10: '600kg'},
 'No.of_workers': {10: 15.0},
 'No.of_canteens_under_each_gowdown': {10: 'Canteen1'},
 'Preparation_time_for_each_canteen': {10: '1hrs'},
 'Food_temperature': {10: '135°F'},
 'No.of_Items': {10: 7},
 'Total_cost': {10: 50000.0}}

In [41]:
my_fun(Corporation,"Corporation1","Gowdown4")

{'Muncipal_Corporation': {},
 'No_Of_Gowdowns': {},
 'Quantity_delivery_from_each_Gowdown': {},
 'No.of_workers': {},
 'No.of_canteens_under_each_gowdown': {},
 'Preparation_time_for_each_canteen': {},
 'Food_temperature': {},
 'No.of_Items': {},
 'Total_cost': {}}